.container {
  height: 100vh;
  padding: 0 8px;
}

.header {
  height: 50px;
  padding: 8px 0;
  font-size: 18px;
}

.message-list {
  padding: 8px 0;
  overflow: scroll;
}

.message {
  margin-bottom: 8px;
}

.message-from {
  font-size: 12px;

  &--my {
    text-align: right;
  }
}

.message-body {
  background-color: gray;
  border-radius: 8px 8px 8px 0;
  padding: 8px;
  font-size: 14px;

  &--my {
    background-color:darkseagreen;
    border-radius: 8px 8px 0 8px;
  }
}

.message-form-area {
  height: 100px;
}
