<div class="container flex flex-col">
  <header class="text-xl h-12 py-2">
    カスタマー側画面
  </header>
  <div class="
    flex-1
    flex
    flex-col
    items-start
    py-2
    overflow-scroll
  ">
    <div
      *ngFor="let message of messages"
      class="mb-2"
      [class.self-end]="message.fromId === myId"
    >
      <div
        *ngIf="message.fromId !== myId"
        class="text-sm"
      >{{ message.fromId }}</div>
      <div
        class="
          bg-gray-200
          rounded-t-lg
          p-2
          text-base
        "
        [class.bg-green-400]="message.fromId === myId"
        [class.rounded-br-lg]="message.fromId !== myId"
        [class.rounded-bl-lg]="message.fromId === myId"
      >
        {{ message.message }}
      </div>
    </div>
  </div>
  <div class="h-24">
    <form
      autocomplete="off"
      class="flex"
      [formGroup]="messageForm"
      (ngSubmit)="onCreate(messageForm.value)"
    >
      <div>
        <label>メッセージ: </label>
        <input type="text" formControlName="message" autocomplete="off" />
      </div>
      <button
        type="submit"
        class="rounded-md bg-sky-400 p-1"
      >
        Submit
      </button>
    </form>
  </div>
</div>
